* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

html {
    /* font-family: "Poppins","Helvetica","Arial",sans-serif; */
    font-family: "Open Sans", Sans-serif;
    scroll-behavior: smooth ;
}

.clear {
    clear: both;
}

#header {
    height: 41px;
    background: linear-gradient(90deg, #068587 30%, #E40347 100%);

}

#header p {
    line-height: 41px;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;

}

#banner {
    height: 600px;
    background: linear-gradient(90deg, #068587 30%, #E40347 100%);
    padding: 50px 0;
    position: relative;
}

.cols-1 {
    width: 50%;

    /* position: relative; */

}

.cols-1 img {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 453px;
    top: 150px;

}

.cols-1 h2 {
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3em;
    position: absolute;
    top: 275px;
    left: 199px;
}

.cols-1>p {
    position: absolute;
    top: 350px;
    left: 199px;
    font-size: 20px;
}

.cols-1 .donate-btn {
    position: absolute;
    top: 430px;
    left: 400px;
    width: 210px;
    height: 46px;
    background-color: #f2295b;
    padding: 15px 30px;
    border-radius: 30px;
}

.cols-1 .donate-btn:hover {
    background-color: #ffd012;
}


.cols-1 .donate-btn i {
    display: inline-block;
    font-size: 16px;
    margin: 0 4px;
}

.cols-1 .donate-btn a {
    line-height: 16px;
    font-size: 16px;
    font-weight: 900;
    text-decoration: none;
    display: flex;
}

.cols-2 {
    position: absolute;
    right: 200px;
    width: 492px;
    height: 498px;
}

#share {
    width: 100%;
    height: 1080px;
    padding-top: 25px;
}

#share > h2 {
    color: #068587;
    font-size: 36px;
    text-align: center;
    padding: 10px 0px 15px;
    position: relative;
}

#share .sub-heading {
    font-size: 20px;
    color: #000;
    text-align: justify;
    padding: 0 200px;
    letter-spacing: 0.3px;
    line-height: 1.8;
    font-weight: 500;
}


.rows-share {
    margin: 20px 0;
    padding: 0 150px;
    display: flex;
    flex-direction: row;
}

.rows-share .cols-share {
    margin: 0 20px;
    padding: 0 20px;
}

.rows-share .cols-share img {
    width: 247px;
    height: 247px;
}

.rows-share .cols-share h3 {
    font-size: 22px;
    font-family: "Poppins", "Helvetica", "Arial", sans-serif;
    color: #000;
    text-align: center;
}

.rows-share .cols-share p {
    color: #000;
    text-align: center;
}

.youtube {
    height: 1453px;
    background: linear-gradient(90deg, #068587 30%, #E40347 100%);
    display: flex;
    justify-content: center;
    direction: column;
}

.youtube .container {
    padding: 50px 300px;
    text-align: center;
    position: relative;
    font-weight: bold;
}

.youtube .container h2 {
    font-size: 36px;
}

.youtube .container i {
    font-size: 85px;
    margin-top: 30px;

}

.youtube .container p {
    font-size: 20px;
}

.youtube .container span {
    display: block;
    margin-top: 30px;
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 50px;

}

.number-rows {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    /* direction: column; */
    position: absolute;
    left: 280px;
}

.number-rows .number-cols {
    padding: 0 50px;
    /* margin: 0 50px; */
}

.number-rows .number-cols p {
    font-size: 69px;
}

.number-rows .number-cols span {
    font-size: 17px;
    margin-top: 5px;
}

.youtube .container .icon-2 {
    position: relative;
}

.youtube .container .icon-2 i {
    position: absolute;
    top: 200px;
    left: 300px;
}

.youtube .container .icon-2 p {
    position: absolute;
    top: 350px;
    left: 180px;
    font-size: 22px;
}

.number-rows-1 {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    /* direction: column; */
    position: absolute;
    left: 140px;
    top: 800px;
    /* padding: 0 100px; */
    /* margin: 0 30px; */

}

.number-rows-1>.number-cols {
    /* padding: 0 100px; */
    margin: 0 40px;

}

.number-rows-1>.number-cols p {
    font-size: 69px;
}

.number-rows-1>.number-cols span {
    margin-top: 5px;
}

.youtube .container .icon-3 {
    position: relative;
    top: 400px;
}

.youtube .container .icon-3 i {
    position: absolute;
    top: 200px;
    left: 300px;
}

.youtube .container .icon-3 p {
    position: absolute;
    top: 350px;
    left: 250px;
    font-size: 22px;
}

.number-rows-2 {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    /* direction: column; */
    position: absolute;
    left: 175px;
    top: 1200px;
    /* padding: 0 100px; */
    /* margin: 0 30px; */

}

.number-rows-2 .number-cols p {
    font-size: 69px;
    margin: 0 70px;
    padding: 0 50px;
}

.number-rows-2 .number-cols span {
    font-size: 17px;
    margin-top: 5px;
}

#donate {
    margin-top: 1550px;
    background: linear-gradient(90deg, #068587 30%, #E40347 100%);
    position: relative; 
    height: 1000px;
    padding: 10px;
}

#donate .donate-cols-1 {
    width: 50%;
    /* float: left; */
}

#donate h2,h3 {
    text-align: center;
    color: white;
    margin: 20px;
}

#donate .donate-cols-1 {
    margin: 100px 200px;
    
}

#donate .donate-cols-1 form {
    width: 60%;
}

#donate .donate-cols-1 input,
#donate .donate-cols-1 input:focus,
#donate .donate-cols-1 textarea 
{
    color:rgba(0, 0, 0);
    outline: 1px solid rgba(0, 0, 0,0.5);
    margin: 0 5px;
    border-radius: 5px;
}

#donate .donate-btn  {
    width: 100px;
    /* height: 100px;  */
    /* padding: 8px 30px; */
    /* outline: none; */
    border-radius: 20px; 
    font-weight:bold;
    background-color: #fff;
    color: orangered;
    margin-top: 10px;
    /* box-shadow: inset 0 0 20px blue; */
}

#donate .donate-btn button {
    outline: none;
    width: 100px;
    height: 50px;
    border-radius: 20px; 
    color: #000;
    color: #7FFFD4;
    background: #DC143C;

}

#donate .donate-cols-2 {
    position: absolute;;
    height: 1000px;
    top: 200px;
    right: 420px;
}

#donate .donate-cols-2 img {
    width: 250px;
    margin: 3px;
}

#donate .donate-cols-3 {
    position: absolute;;
    height: 500px;
    top: 500px;
    right: 200px;
}

#donate .donate-cols-3 img {
    width: 400px;
    height: auto;
    margin: 3px;

}

#donate p {
    font-size: 20px;
    /* position: absolute; */
    /* float: left; */
    bottom: 10px;
    
}

#main #footer {
    width: 100%;
    height: 800px;
    background: linear-gradient(90deg, #068587 30%, #E40347 100%);
    margin-top: 100px;
    position: relative;
}

#main > #footer > img {
    width: 40%;
    float: left;
    margin-left: 200px;
}

#main #footer .text-footer {
    float: right;
    text-align: justify;
    margin-right: 200px;
    margin-top: 100px;
}

#main #footer .text-footer h2 {
    font-size: 40px;
}

#main #footer .text-footer span {
    font-weight: 800;
}

#main #footer .text-footer p {
    font-size: 15px;
}

#main #footer .text-footer .border-footer {
    border-top: 1px solid #ccc;
    margin-top:50px; 
    width: 150px;
}

#main #footer .text-footer .icon-footer i {
    margin: 40px 40px 0px 0px;
}

#footer .back-home {
    clear: both;
    margin: 200px 650px;
}

#footer .back-home img {
    width: 80px;
    height: 80px;
    margin-left: 75px;
    margin-bottom: 10px ;
}

#footer .back-home .home-btn {
    width: 250px;
    height: 50px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align:center;
    border-radius: 50px;
    background: #FFFFFF14;
    font-weight: 700;
    cursor: pointer;
}

#footer .back-home .home-btn:hover {
    background: #068587;

}

#footer .back-home .home-btn a {
    text-decoration: none;
}

iframe[name=like] {
    position: absolute;
    bottom: 260px;
    right: 190px;
}




































/* .chat-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 60px;
    height: 60px;
    background-color: #068587;
    border-radius: 30px;
}

.chat-button>i {
    padding: 15px;
    font-weight: 900;
    font-size: 32px;    
} */


.sub-icon-search {
    position: fixed;
    right: 0;
    top: 323px;
    background-color: #112F41;
    width: 30px;
    height: 30px;
}

.sub-icon-search i {
    padding: 7px 0px 0px 10px;
}

.sub-icon-edit {
    position: fixed;
    right: 0;
    top: 355px;
    background-color: #112F41;
    width: 30px;
    height: 30px;
}

.sub-icon-edit:hover {
    cursor: pointer;
}

.sub-icon-edit i {
    padding: 7px 0px 0px 10px;
}